body{
    font-family: monospace;
    background: white;
}
.header_div{
    background:cyan ;
    color: red;
}
.header_div p{
    font-family: fantasy;
    color: red;
    letter-spacing: 2px;
    font-size: 12px;
}
.main_div button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.footer{
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
    background-color: dimgrey;
    color: lightcoral;
    line-height: 3;
    font-size: 18px;
}
